body {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-contents {
  display: flex;
  justify-content: space-between;
}

.navbar-contents > a:hover {
  color: gray;
}


.navbar-menu > a:hover {
  color: gray;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(17, 17, 45);
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.9);
}

.header-contents {
  align-items: center;
  color: white;
  background-color: rgb(17, 17, 45);
}


.header-contents > img {
  height: 40px;
  padding: 20px;
}

h1 {
  font-size: xx-large;
}

.Card {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  margin-left: 25%;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: rgb(183, 183, 183);
}
.Card-Text {
  text-decoration: none;
}

.Card > a:link {
  color: cornflowerblue;
}

.Card > a:visited {
  color:black
}

.Card > a:hover {
  color:rgb(40, 107, 232)
}

.Card > a:active {
  color:rgb(40, 107, 232)
}

.Card-author {
  color: gray;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(17, 17, 45);
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}